:host {
    --vaadin-charts-color-0: rgba(78, 176, 245, 0.7);
    --vaadin-charts-color-1: #949494;
    --vaadin-charts-color-2: #949494;
    --vaadin-charts-color-3: #949494;
    --vaadin-charts-color-4: #e3001a;
}

:where([styled-mode]) .highcharts-background {
    fill:#ebebeb;
}

#chart {
    border-radius: 25px;
    background: #ebebeb;
}

