html, :host {
    --lumo-primary-text-color: hsl(357, 96%, 60%);
    --lumo-primary-color: hsl(353, 100%, 45%);
    --lumo-primary-color-50pct: hsla(353, 100%, 45%, 0.5);
    --lumo-primary-color-10pct: hsla(353, 100%, 45%, 0.1);
    --lumo-border-radius-m: 0.5em;
}

a[highlight] {
    font-weight: bold;
}

@media all and (max-width: 1100px) {
    .overview.editing .toolbar,
    .overview.editing .equipment-grid {
        display: none;
    }
}